.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: black;
}
.imgCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
